target
build
__pycache__

# javadoc
docs/apidocs

# project meta data folder
.idea

# clion build directories
/*build*
/macos/cmake-build-debug

# jvm crash logs
hs_err_*.log


# website
website/public
website/resources
.hugo_build.lock
