on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - 'docs/**'
      - 'examples/**'
      - 'extras/**'
      - LICENSE
      - README.md

jobs:
  shared:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_11_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_11_X64/bin" >> $GITHUB_PATH
      - run: python3 script/deploy_shared.py
        env:
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}

  windows:
    runs-on: windows-latest
    needs: shared
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: seanmiddleditch/gha-setup-ninja@master
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_11_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_11_X64/bin" >> $GITHUB_PATH
        shell: bash
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
      - run: python3 script/deploy_native.py --arch=x64
        env:
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}

  macos:
    runs-on: macos-10.15
    needs: shared
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: seanmiddleditch/gha-setup-ninja@master
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_11_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_11_X64/bin" >> $GITHUB_PATH
      - run: python3 script/deploy_native.py --arch=x64
        env:
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
      - run: python3 script/deploy_native.py --arch=arm64
        env:
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}