name: Build and publish

on:
  push:
    branches:
      - '**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
    paths-ignore:
      - .gitignore
      - 'docs/**'
      - 'examples/**'
      - 'extras/**'
      - CHANGELOG.md
      - LICENSE
      - README.md
  pull_request:

jobs:
  build_linux:
    runs-on: ubuntu-latest
    container: tonsky/jwm:latest
    steps:
      - uses: actions/checkout@v4
      - run: bash -c 'source /etc/profile && python3 script/build.py --only native'
      - uses: actions/upload-artifact@v4
        with:
          name: native-linux
          path: linux/build/libjwm_x64.so

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: seanmiddleditch/gha-setup-ninja@master
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_21_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_21_X64/bin" >> $GITHUB_PATH
        shell: bash
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
      - run: python3 script/build.py --only native
      - uses: actions/upload-artifact@v4
        with:
          name: native-windows
          path: windows/build/jwm_x64.dll

  build_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: seanmiddleditch/gha-setup-ninja@master
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_21_arm64" >> $GITHUB_ENV
          echo "$JAVA_HOME_21_arm64/bin" >> $GITHUB_PATH
      - run: python3 script/build.py --arch=x64 --only native
      - run: python3 script/build.py --arch=arm64 --only native
      - uses: actions/upload-artifact@v4
        with:
          name: native-macos
          path: |
            macos/build/libjwm_x64.dylib
            macos/build/libjwm_arm64.dylib

  deploy:
    runs-on: ubuntu-latest
    needs: [build_linux, build_windows, build_macos]
    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "JAVA_HOME=$JAVA_HOME_21_X64" >> $GITHUB_ENV
          echo "$JAVA_HOME_21_X64/bin" >> $GITHUB_PATH
      - run: python3 script/build.py --only java
      - uses: actions/download-artifact@v4
        with:
          pattern: native-*
          path: target/classes
          merge-multiple: true
      - run: python3 script/package.py --only java --ref ${{ github.ref }}
      - uses: actions/upload-artifact@v4
        with:
          name: jars
          path: |
            target/*.jar
            target/maven/META-INF/maven/io.github.humbleui/jwm/pom.xml
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        name: Deploy to Maven Central
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
          python3 script/release.py --only java --ref ${{ github.ref }}
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          SONATYPE_BEARER_TOKEN: ${{ secrets.SONATYPE_BEARER_TOKEN }}
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: softprops/action-gh-release@v2
        with:
          body_path: RELEASE_NOTES.md
          files: |
            target/*.jar
